body {
    background-color: teal;
    margin: 0;
}

.logo {
  font-size: 9em;
  color: white;
  font-family: "Courier New", monospace;
  font-weight: bold;
  margin-bottom: 16%;
}

.teal {
    background-color: #009688 !important;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.white-text {
    color: #FFFFFF !important;
}

.btn, .btn-large, .btn-small,
.btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.orange {
    background-color: #ff9800 !important;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.page-footer {
    padding-top: 20px;
    color: #fff;
    background-color: #ee6e73;
    font-family: "Courier New", monospace;
}

.page-footer .footer-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(51, 51, 51, 0.08);
}